<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Welcome File List -->
    <welcome-file-list>
        <welcome-file>Telegram_Email_Login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>NhaServlet</servlet-name>
        <servlet-class>com.nha.dashboard.NhaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dashboard_Monitor</servlet-name>
        <servlet-class>com.nha.dashboard.Dashboard_Monitor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <jsp-file>/Telegram_Email_Login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>NhaServletProduction</servlet-name>
        <servlet-class>com.nha.dashboard.NhaServletProduction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getAccountNameServlet</servlet-name>
        <servlet-class>com.nha.dashboard.getAccountNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Total_Submitted_Count_Abdm</servlet-name>
        <servlet-class>com.nha.dashboard.Total_Submitted_Count_Abdm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Total_Submitted_Count_Admin</servlet-name>
        <servlet-class>com.nha.dashboard.Total_Submitted_Count_Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BiWeeklyReports</servlet-name>
        <servlet-class>com.nha.dashboard.BiWeeklyReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuarterlyReports</servlet-name>
        <servlet-class>com.nha.dashboard.QuarterlyReports</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Dashboard</servlet-name>
        <jsp-file>/Dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/Dashboard/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>previous</servlet-name>
        <jsp-file>/previous.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>previous</servlet-name>
        <url-pattern>/previous/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>current</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>current</servlet-name>
        <url-pattern>/current/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>month</servlet-name>
        <jsp-file>/month.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>month</servlet-name>
        <url-pattern>/month/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <jsp-file>/logout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NhaServletChart</servlet-name>
        <servlet-class>com.nha.dashboard.NhaServletChart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>telegramLoginServlet</servlet-name>
        <servlet-class>com.nha.dashboard.telegramLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendAttachmentMail</servlet-name>
        <servlet-class>com.nha.dashboard.SendAttachmentMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NhaServlet</servlet-name>
        <url-pattern>/NhaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dashboard_Monitor</servlet-name>
        <url-pattern>/Dashboard_Monitor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NhaServletChart</servlet-name>
        <url-pattern>/NhaServletChart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>telegramLoginServlet</servlet-name>
        <url-pattern>/telegramLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendAttachmentMail</servlet-name>
        <url-pattern>/SendAttachmentMail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NhaServletProduction</servlet-name>
        <url-pattern>/NhaServletProduction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getAccountNameServlet</servlet-name>
        <url-pattern>/getAccountNameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Total_Submitted_Count_Abdm</servlet-name>
        <url-pattern>/Total_Submitted_Count_Abdm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Total_Submitted_Count_Admin</servlet-name>
        <url-pattern>/Total_Submitted_Count_Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BiWeeklyReports</servlet-name>
        <url-pattern>/BiWeeklyReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuarterlyReports</servlet-name>
        <url-pattern>/QuarterlyReports</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
